.SetPasswordForm{
    display: flex;
    flex-direction: column;
    align-items:left;
    margin: 1vh;
    width: 30vw;
    /* border: 2px solid black; */
}

.SetPasswordForm .Input{
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 0;
    /* border: 2px solid black; */
}

.SetPasswordForm input[type=email], .SetPasswordForm input[type=password]{
    height: 2rem;
    /* border: 2px solid red; */
    width: 60%;
}

.SetPasswordBtn{
    margin: 2vh 30%;
    width: 40%;
    height: 3rem;
    border-color: white;
    background-color: red;
    color: white;
    font-size: 1rem;
    
}