.HomeFeedMain{
    background-color: rgb(0, 0, 0);
    color: white;
    /* margin: 0 5px; */
}
.MovieListDisplayCard{

    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 90vw;
    margin-left: 3vw;
    padding: 25px;
    text-align: center;
    background-color: rgba(248, 245, 245, 0.078);
    /* border: 2px solid red; */
}

.MovieListDisplayCard::-webkit-scrollbar {
    display: none;
  }

  .HomeFeedMain h2{
    margin-left: 20px;
  }