.MovieCard{
    /* display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    margin: 50px 5px;
    width: 200px;
    height: 100px; */
  object-fit: contain;
  width: 200px;
  margin-right: 10px;
  transition: transform 500ms;
}




  .MovieCard:hover {
    transform: scale(1.08);
  }
.videoplayerQ{
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: black;
  overflow-y: hidden;
  overflow-x: hidden;
}
  #video-id{
    color: red;
    width: 100vw;
    height: 99.45vh;
    /* margin-top: -3.5rem; */
    overflow: hidden;
  }

  .gobackbtn{
    background-color: red;
    z-index: 2;
    padding: 1rem;
    margin-left: 2rem;
    position:absolute;
    overflow: hidden;
  }

  
/* .MovieCard:hover{
    transform: scale(0.9);
    background-color: rgb(47, 46, 46);
    z-index: 1;
    height: 200px;
    margin: 0 5px;
}

.MovieCardImage{
    cursor: pointer;
} */