#videoplayerQ{
  background-color: #050505;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  overflow: hidden;
}
#seekSlider{
  border-radius: 8px;
  height: 4px;
  width: 97vw;
  outline: none;
  -webkit-appearance: none;
  cursor: pointer;
}

#seekSlider::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: pointer;
    background: #f50202;
  }

  #volumeSlider{
    height: 3.5px;
    /* border: 2px solid white; */
  -webkit-appearance: none;

  }

  #sound{
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
  }

#volumeSlider::-webkit-slider-thumb{
  width: 13px;
  height: 13px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background-color: #795eff;

}
#video-controls{
    /* background-color: rgb(16, 16, 16); */
    padding: 0.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 99vw;
    position:absolute;
    top: 89vh;
    z-index: 2147483647;
    flex-wrap: wrap;    
    visibility: collapse;
    bottom: 0;
}

#video-controls-lower{
  display: flex;
  flex-direction: row;
  width: 96vw;
  padding: 5px;
  padding-bottom: 0;
  margin-bottom: 0;
  align-items: center;
  justify-content: space-between;
}

#video-controls-lower-left{
  /* border: 2px solid white; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 20vw;
}


#videoplayerQ:hover #video-controls {
    visibility: visible;
}

#video-controls button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#video-controls button:hover{
  /* border: 1px solid white; */
}

#video-controls button:active{
  /* border: 1px solid white; */

}


#big-play-button{
  transform: scale(4);
  position: absolute;
  margin: -5px;
  padding: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  /* border: 2px solid white; */
}


#big-play-button:hover{
  transform: scale(4.5);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}



#backbtn{
  background-color: transparent;
  position:absolute;
  z-index: 5;
  /* transform: scale(2); */
  top: 4vh;
  left: 3vw;
  cursor: pointer;
  /* padding: 10px 12px; */
  border: none;

  border-radius: 200px;
  visibility: collapse;
}

#backbtn:hover{
  /* border: 1px solid rgb(243, 0, 0); */
}

.backBtnSvg:hover{
  stroke: #f50202;
}

#videoplayerQ:hover #backbtn{
  visibility: visible;
}


/* video::-webkit-media-controls {
  display:none !important;
}
video::-webkit-media-controls-enclosure {
  display:none !important;
} */


@media (max-width: 630px){

  #videoplayerQ{
    overflow: hidden !important;
  }

  
  #video-controls{
    top:80vh;
    visibility: visible;
    overflow: hidden;
  }

  video::-webkit-media-controls {
    display:block !important;
  }
  video::-webkit-media-controls-enclosure {
    display:block !important;
  }
}



