<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Forget Password</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="ResetPassword.css" />
  </head>
  <style>
    body {
      background: #360033; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #0b8793,
        #360033
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #0b8793,
        #360033
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .layer {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .form_page {
      background-color: white;
      overflow-y: hidden;
      padding: 20px 30px;
      border-radius: 10px;
      display: flex;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      flex-direction: column;
      gap: 10px;
      align-items: center;
    }

    .form_page p {
      font-size: 1.8rem;
      font-family: monospace;
    }

    .password label {
      width: 10rem;
    }

    .password input {
      width: 300px;
      height: 2rem;
      align-items: center;
      margin: 3vh 0;
    }

    .submit {
      text-align: center;
      cursor: pointer;
      padding: 10px 13px 10px 13px;
      background-color: red;
      color: white;
      border-radius: 6px;
      font-size: 16px;

      border: none;

      transition: 0.6s;
      margin-left: 110px;
    }

    .submit:hover {
      transform: scale(1.1, 1.1);
    }

    @media (max-width: 410px) {
      .form_page p {
        font-size: 1.5rem;
      }
    }
  </style>

  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <div class="layer">
      <div class="form_page">
        <p>Change Password for</p>
        <div class="header_page">
          <h2>
            <i> <%= email %> </i>
          </h2>
        </div>

        <div class="body_page">
          <form
            action="http://localhost:3560/forgetPasswordComplete"
            method="post"
          >

          <input type="text" name="email" hidden value=<%= email %>>
            <div class="password">
              <label>Enter your New Passoword:</label>
              <br />
              <input
                type="password"
                name="password"
                placeholder="Enter your Password"
              />
            </div>

            <div class="password">
              <label>Confirm your New Passoword:</label>
              <br />
              <input
                type="password"
                name="cpassword"
                placeholder="Confirm your Password"
              />
            </div>

            <input type="submit" class="submit" value="Submit" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
